.title { font-size: 20px; font-weight: bold; margin: 30px 0px 5px 0px; }
.sub-title { color: #2ca3ac; margin: 5px 0px; }
div.container { color: #777777 ;width: 300px; margin: 0px auto; font-size: 14px; }
div.box-div { margin: 20px auto; }
div.input-div { border-bottom: 1px solid #777777 ; display: inline-block; width: 100%; margin:5px 0px; }
div.invalid { border-bottom: 1px solid red ; }
input, select { border: 0px; width: 100%; font-size: 20px; }
input:focus { outline: none }
input.send-btn { color: white; background: black; width: 100%; height: 50px; border-radius: 7px; font-size: 15px; }
div.terms-div { margin: 7px 0px; }
input.checkbox-div {width: 20px; margin-right: 10px;}
label.checkbox-label {}
.check-all { color:#000000; font-size: 17px; padding: 10px 0px; }
.check-all .checkbox-label { color:#000000; font-size: 17px; }